@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cedarville+Cursive&family=Comforter&family=Inter:wght@100;400&family=Nunito+Sans&family=Oswald:wght@300&family=Roboto:wght@100&family=Source+Serif+4:ital,wght@0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Cedarville+Cursive&family=Comforter&family=Inter:wght@100;400&family=Nunito+Sans&family=Oswald:wght@300&family=Roboto:wght@100&family=Source+Serif+4:ital,wght@0,400;1,200;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #03738C;
}

nav {
    background-color: #004858;
    height: 100px;
}

.topmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bebas Neue', cursive;
    color: #f2f2f0;
    font-size: 2em;
    max-width: 1280px;
    margin: 0 auto;
    letter-spacing: 3px;
    list-style-type: none;
}

.topmenu li a {
    text-decoration: none;
    color: #F2F2F0;
    flex-grow: 1;
    cursor: pointer;
}

.topmenu li:last-child {
    margin-right: 33px;
    text-align: right;
}

.topmenu li:nth-child(3) {
    text-align: center;
}

.topmenu__logo {
    max-width: 184px;
    max-height: 100px;
}

.topmenu li a:hover {
    color: #D59A5B;
    transition: 0.3s;
}

.topmenu .active a {
    color: #D59A5B;
}


/* MAIN */

main p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: white;
}

#intro {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    letter-spacing: 3px;
    margin: 3em 0;
    text-align: center;
}

.brown {
    color: #D59A5B;
    font-weight: bold;
}

.modcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-bottom: 7em;
}

.mod1r h4 {
    margin-top: 4.5em;
    font-size: 18px;
    margin-bottom: 0.5em;
}

.mod1l h4 {
    font-size: 18px;
    margin-bottom: 0.5em;
}


/* Slideshow container */

#slideshow-container {
    margin: 0 auto;
    width: 100%;
    list-style: none;
}

.mySlides {
    display: none;
    width: 100%;
}


/* Fading animation */

@keyframes fade {
    0% {
        opacity: 0;
    }
    11.11% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    44.44% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.mySlides {
    opacity: 0;
    animation-name: fade;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    position: relative;
    left: 0;
    right: 0;
}

footer {
    background-color: #D59A5B;
    display: flex;
    justify-content: space-evenly;
    height: 138px;
    align-items: center;
}

footer p {
    font-family: 'Bebas Neue', cursive;
}

.footer__info1,
.footer__info2 {
    font-size: 16px;
    letter-spacing: 4px;
}

.footer__info3 {
    font-size: 3em;
    display: flex;
    list-style: none;
}

.footer__info3 li a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

.footer__info3 li a i:hover {
    color: #004858;
    transition: 0.3s;
}