/* start map and text */

.infos p {
    font-size: 1em;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 5px;
}

.info1 {
    margin: 1.5em;
}

.info2 {
    margin: 1.5em;
}

.google-map {
    text-align: center;
}


/* end map and text */